In [1]:
# Import required libraries
import pandas as pd 
import statsmodels.tsa.api as smt
import statsmodels as sm

# Reading dataset

In [14]:
df = pd.read_csv("C:/Users/NIKITA/Downloads/data.csv",index_col=False)
df.head(10)

   Days    M    T    W   TH    F
0     1  4.0  5.0  5.0  6.0  7.0
1     2  1.0  2.0  3.0  4.0  5.0
2     3  3.0  4.0  5.0  6.0  7.0
3     4  1.0  2.0  3.0  4.0  5.0
4     5  2.0  3.0  4.0  5.0  6.0
5     6  5.0  5.0  NaN  NaN  7.0
6     7  NaN  5.0  5.0  6.0  7.0
7     8  3.0  4.0  NaN  6.0  7.0
8     9  NaN  5.0  5.0  6.0  7.0
9    10  5.0  5.0  5.0  6.0  7.0

# Shape of dataset

In [5]:
df.shape

(1000, 6)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Days    1000 non-null   int64
 1   M       911 non-null    float64
 2   T       889 non-null    float64
 3   W       824 non-null    float64
 4   TH      863 non-null    float64
 5   F       826 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 47.0 KB

In [7]:
# how many missing values present in the data?
df.isnull().sum()

Days      0
M        89
T       111
W       176
TH      137
F       174
dtype: int64

In [16]:
df = df.drop(columns="Days")

In [19]:
# Imputation by mean method
m=round(df.mean(axis=1))
for i,col in enumerate(df):
    df.iloc[:, i] = df.iloc[:,i].fillna(m)
    

print(df)

       M    T    W   TH    F
0    4.0  5.0  5.0  6.0  7.0
1    1.0  2.0  3.0  4.0  5.0
2    3.0  4.0  5.0  6.0  7.0
3    1.0  2.0  3.0  4.0  5.0
4    2.0  3.0  4.0  5.0  6.0
..   ...  ...  ...  ...  ...
995  2.0  3.0  4.0  5.0  5.0
996  5.0  5.0  5.0  5.0  7.0
997  1.0  1.0  1.0  2.0  3.0
998  1.0  1.0  2.0  2.0  3.0
999  2.0  2.0  2.0  2.0  3.0

[1000 rows x 5 columns]

In [7]:
df.isnull().sum()

Days    0
M       0
T       0
W       0
TH      0
F       0
dtype: int64